<html>
<head><html>
 <head>h1 { text-align:center; font-weight:bold; font-style:italic; } 
 <title> Test Page </title>

 <link rel="stylesheet" type="text/css" href="style.css" />
 </head> 
<title> Git Test Page </title></head>
<body>
KyleCerchio
I think git is great
</body>  { background: pink; font-family: "Comic Sans MS"; }
</html>
